.controlGroup {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  color: white;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 10px;
  margin: 10px;
  min-width: 200px;
  width: 320px;
  box-sizing: content-box;
  z-index: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: none;
  -ms-touch-action: none;
  touch-action: none;
}
