.luciad .lcdBalloon {
  z-index: 400;
}

.luciad .lcdBalloon .lcdFrame {
  position: relative;
  background: rgb(240, 240, 240);
  color: #555555;
  border-color: rgb(200, 200, 200);
  border-width: 1px;
  border-style: solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 7px 7px 4px #333;
  -moz-box-shadow: 7px 7px 4px #333;
  -o-box-shadow: 7px 7px 4px #333;
  box-shadow: 7px 7px 4px #333;
  width: 400px;
  /*    background: -webkit-gradient(linear, 0 0, 0 100%, from(#faf0e6), to(#ffa500));
background: -moz-linear-gradient(#faf0e6, #ffa500);
background: -o-linear-gradient(#faf0e6, #ffa500);
background: linear-gradient(#faf0e6, #ffa500); */
}

.luciad .lcdBalloon .lcdHeader {
  width: 100%;
  height: 20px;
  margin: 0;
  border: 0;
  padding: 0;
}

.luciad .lcdBalloon .lcdContent {

  padding: 0 10px 0 10px;
  width: 100%;
}

.luciad .lcdBalloon .lcdFrame {
background: rgba(15, 45, 103, 0.6);
border-color: rgb(0, 0, 51);
}

.luciad .lcdBalloon .lcdContent {
 max-height: 450px;
 max-width: 400px;
 width: 100%; 
 color: rgb(255, 255, 255); 
 font-family: Calibri; 
 font-size: 13px;
 }

span
{
    font-family: Calibri;
    font-size: 14px;
}

input
{
    font-family: Calibri;
    font-size: 13px;
}
