.control {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    min-width: 200px;
    width: 320px;
    box-sizing: content-box;
    z-index: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    pointer-events: auto;
    -ms-touch-action: auto;
    touch-action: auto;
}

.control .lcdIcon, .contextMenu .lcdIcon {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    padding: 8px;
    font-size: 24px;
}

.controlClosed {
    height: 40px;
}

.controlHeader {
    background-color: #0d141c;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 40px;
    cursor: default;
}

.controlHeaderIcon {
    display: inline-block;
    position: relative;
    width: 40px;
    height: 40px;
    color: white;
}

.controlHeaderTitle {
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
}

.controlBody {
    background-color: #171c22;
    transition: max-height 0.3s linear;
    overflow-y: auto;
    width: 100%;
    max-height: 800px;
}

.controlBodyClosed {
    max-height: 0;
    padding-bottom: 0;
}

.controlBody:after {
    clear: both;
    content: "";
    display: block;
}

.controlCollapseAction {
    background-image: none;
    float: right;
    width: 40px;
    height: 40px;
}

.controlCollapseAction .lcdIcon {
    transition: 0.3s linear;
}

.controlCollapseActionClosed .lcdIcon {
    transform: rotate(90deg);
}

.controlPanel {
    width: 100%;
    overflow: auto;
}

.layerTreeGroupChildren {
    top: 40px;
    left: 0;
    padding-left: 40px;
}

.layerTreeGroupChildren.dragHoverTop {
    padding-left: 0;
    margin-left: 40px;
}

.dragging {
    opacity: 0.4;
}

.dragHoverBottom {
    border-bottom: 3px solid white;
}

.dragHoverTop {
    border-top: 3px solid white;
}

.layerTreeNode {
    white-space: nowrap;
    position: relative;
    width: 100%;
    /* Required to make elements draggable in old WebKit */
    -webkit-user-drag: element;
}

.lcdIconFolder:hover,
.lcdIconFolderClosed:hover {
    cursor: pointer;
}

.layerTreeSelectedNode {
    background-color: #2b3540;
}

.layerTreeNode:not(.layerTreeSelectedNode) > .visible-toggle:hover {
    background-color: #171c22;
}

.layerTreeSelectedNode > .visible-toggle:hover {
    background-color: #28313b;
}

.layerTreeSelectedNode > .visible-toggle {
    background-color: #2b3540;
}

.layerTreeNodeButtons {
    background-color: #2b3540;
    display: inline-block;
    height: 40px;
    width: 85px;
    position: absolute;
    right: 40px;
    top: 0;
}

.controlButton {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-left: 2px;
    position: relative;
    color: white;
}

.controlButton:hover {
    background-color: #28313b;
}

.visible-toggle {
    position: absolute;
    right: 0;
    top: 0;
    color: #bcdb28;
}

.layerTreeDisabled .lcdIcon {
    color: #aeb0b5;
}

.layerTreeTextDisabled {
    color: #aeb0b5;
}

.layerTreeNodeLabel {
    display: inline-block;
    padding-left: 5px;
    position: absolute;
    left: 40px;
    top: 0;
}

.layerTreeNode > .lcdIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 0;
    top: 0;
	color: rgba(255, 255, 255, 0.72)
}

.contextMenu {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: white;
    min-height: 40px;
}

.contextMenuItem {
    height: 40px;
    line-height: 40px;
    color: white;
    vertical-align: top;
}

.contextMenuItem .layerTreeAction {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    width: 40px;
    height: 40px;
    vertical-align: top;
    color: white;
}